<aside class="app-navbar">
  <!-- begin sidebar-nav -->
  <div class="sidebar-nav scrollbar scroll_light">
    <ul class="metismenu " id="sidebarNav">
      <li class="nav-static-title">Personal</li>
      <li><a routerLink="/dashboard" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Home</span></a> </li>
<!--      <li><a routerLink="/admins" aria-expanded="false"><i class="nav-icon ti ti-user"></i><span class="nav-title">Admins</span></a> </li>-->
      <li><a routerLink="/market-data" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Market Data</span></a> </li>
      <li><a routerLink="/customers" aria-expanded="false"><i class="nav-icon ti ti-user"></i><span class="nav-title">Customers</span></a> </li>
      <li><a routerLink="/trades" aria-expanded="false"><i class="nav-icon ti ti-money"></i><span class="nav-title">Trades</span></a> </li>
    </ul>
  </div>
  <!-- end sidebar-nav -->
</aside>
