<!-- begin row -->
<div class="row">
  <div class="col-md-12 m-b-30">
    <!-- begin page title -->
    <div class="d-block d-lg-flex flex-nowrap align-items-center">
      <div class="page-title mr-4 pr-4 border-right">
        <h1>Dashboard</h1>
      </div>

    </div>
    <!-- end page title -->
  </div>
</div>

<!-- end row -->
<!-- begin row -->
<div class="row">
  <div class="col-xxl-4 m-b-30">
    <div class="card card-statistics h-100 mb-0">
      <div class="card-header d-flex justify-content-between">
        <div class="card-heading">
          <h4 class="card-title">SALES</h4>
        </div>
        <div class="dropdown">
          <select class="custom-select custom-select-sm" id="inputGroupSelect01">
            <option selected>Last 24hr</option>
            <option value="1">Last week</option>
            <option value="2">Last 6 month</option>
            <option value="3">Last year</option>
          </select>
        </div>
      </div>
      <div class="card-body">
        <div class="border-bottom pb-2 pb-xxs-4">
          <div class="row">
            <div class="col-xxs-6 mb-3 mb-xxs-0">
              <span class="font-17">Total revenue</span>
              <h3 class="mt-1 mb-1">$45,541</h3>
              <span class="d-block"> <i class="fa fa-arrow-down text-primary"></i> <b class="text-primary">+23%</b> Vs last months </span>
            </div>
            <div class="col-xxs-6 mb-3 mb-xxs-0">
              <span class="font-17">Total cost</span>
              <h3 class="mt-1 mb-1">$6,456</h3>
              <span class="d-block"> <i class="fa fa-arrow-down text-cyan"></i> <b class="text-cyan">+65%</b> Vs last months </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-6 pt-2 pt-xxs-4">
            <div class="d-flex justify-content-between">
              <span class="font-16"><b>86</b> Deals added</span>
              <span class="font-16"><b>65%</b> of goal</span>
            </div>
            <div class="progress my-3" style="height: 6px;">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-xxs-6 pt-2 pt-xxs-4">
            <div class="d-flex justify-content-between">
              <span class="font-16"><b>78</b> Project closed</span>
              <span class="font-16"><b>45%</b> of goal</span>
            </div>
            <div class="progress my-3" style="height: 6px;">
              <div class="progress-bar bg-cyan" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end row -->
